<head>
    {% load{% static  %}
    <meta charset = "UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/styles.css"></link>
</head>
<body>
    <h2>Article _ About</h2>
    <h5>Hello Articles about </h3>
        <div class="articles">
            {% for article in articles %}
            <div class="article">
            <h2><a href="#">
                {{ article.title }} </a></h2>
                <p> {{ article.snippet }} </p>
                <p> {{ article.date }} </p>
            </div>
            {% endfor %}
        </div>

</body>
</html>